@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #f9f7f7;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 57.3%; 
  margin: 0 auto;
}

.flex { display: flex; }
/*=================================
  Header styling starts here
=================================*/

header { background-color: #F9F9F9; }
header .wrapper {
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo { flex-basis: 40%; }

.hamburger { display: none; }

.hamburger span {
  width: 30px;
  border-top: 2px solid #A0C63F;
  text-indent: -99999px;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-basis: 48%;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu-item a {
  font-size: 13px;
  color: #333232;
  transition: .6s;
}

.menu-item a:hover { border-bottom: 1px solid #A0C63F; }
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner section start */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A0C63F;
}

.slider {
  margin: 30px auto;
  width: 55%;
  flex-basis: 55%;
 }

.slide { display: none; }

.slide.active {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide .content {
  position: absolute;
  width: 44%;
  top: 15%;
  right: 2%;
}

.slide .content p {
  font-size: 30px;
  color: #FBFBFB;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
}

.slider-control {
  position: absolute;
  top: 42%;
}

.slider-control a {
  padding: 10px 15px;
  border: 6px solid #fff;
  border-radius: 50%;
  font-size: 25px;
  transition: .6s;
  color: #FFF;
  background-color: #86af1d;
}

.slider-control a:hover { box-shadow: 0 0 20px rgba(0,0,0,.5); }
.prev { left: 6%; }
.next { right: 6%; }

/* banner section ends */

/* welcome section start */
.welcome .wrapper { 
  text-align: center;
  color: #3c3838;
}

.welcome .wrapper h2 {
  font-size: 33px;
  margin: 32px 0;
}

.welcome .wrapper h2 span,
.portfolio .wrapper h4 span,
.advertise .wrapper h4 span { color: #A0C63F; }

.welcome .wrapper ul { 
  padding: 45px 0 39px;
  border-top: 1px dashed #c0d4c0; 
  justify-content: space-between;
}

.welcome .wrapper ul li { flex-basis: 20%; }

.welcome .wrapper ul li a {
  padding: 21px 41px;
  border-radius: 50%;
  border: 21px solid #fff;
  box-shadow: 0px 0px 1px rgba(0,0,0,.5);
  font-size: 85px;
  transition: .6s;
  color: #FBFBFB;
  background-color: #8faf3d;
}

.welcome .wrapper ul li a:hover {
  border: 21px solid #86af1d;
  color: #86af1d;
  background-color: #FFF;
}

.welcome .wrapper ul li h3 {
  font-size: 35px;
  line-height: 25px;
  margin: 18px 0;
}

.welcome .wrapper ul li h3 span {
  font-size: 17px;
  letter-spacing: 1px;
}

/* welcome section ends */

/* Portfolio section start */
.portfolio .wrapper,
.advertise .wrapper { 
  padding: 45px 0;
  border-top: 1px dashed #c0d4c0;
  position: relative;
  color: #3c3838;
}

.portfolio .wrapper h4 {
  position: absolute;
  top: -4%;
  left: 4%;
  font-size: 26px;
}

.card-group { 
  justify-content: space-between;
  flex-wrap: wrap;
}

.card { 
  margin-bottom: 27px;
  display: flex;
  align-items: center;
  flex-basis: 48.5%;
  box-shadow: 0 0 1px #7d7373c2;
  background-color: #fff; 
}

.card div:hover .card div figure {  opacity: .5; }
.card div { flex-basis: 50%; }

.card-btn a {
  padding: 2px 10px;
  margin: 7px 0;
  font-size: 14px;
  transition: .6s;
  color: #fff;
  background-color: #8faf3d;
}

.card-btn a:hover { 
  color: #8faf3d;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.card-content { padding: 0 18px; }

.card-content p,
.footer-list p,
.footer-list a { 
  font-size: 13px;
  line-height: 18px;
}

.card-content p span,
.footer-list p span { font-weight: bold; }
/* Portfolio section end */

/* Advertiser section start */
.advertise .wrapper h4 {
  position: absolute;
  top: -5%;
  left: 4%;
  font-size: 26px;
}

.advlist li {
  padding: 38px 20px;
  flex-basis: 16.6%;
  background: linear-gradient(to right, #F2F2F2, #fff 77%);
}

.advertise .wrapper div {text-align: end; }

.advertise .wrapper div a {
  padding: 12px 16px;
  border-radius: 50%;
  margin-top: 50px;
  font-size: 13px;
  transition: .6s;
  color: #efefef;
  background-color: #8faf3d;
}

.advertise .wrapper div a:hover { box-shadow: 0 0 15px rgba(0,0,0,.5); }
/* Advertiser section end */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

.footer-up {
  color: #333232;
  background-color: #fff;
}

.footer-up a { color: #333232; }

.footer-up a:hover { text-shadow: 0 0 10px #000; }

.footer-list { justify-content: space-between; }

.footer-list li { flex-basis: 21.5%; }

.footer-list li h6 {
  margin: 16px 0;
  font-size: 18px;
}

.followus li { flex-basis: 13%; }

.followus li a .fa {
  font-size: 20px;
  opacity: .5;
  transition: .6s;
}

.followus li a .fa-facebook:hover { 
  opacity: 1;
  color: #0000ff;
}

.followus li a .fa-twitter:hover { 
  opacity: 1;
  color: #87ceeb;
}

.followus li a .fa-vimeo:hover,
.followus li a .fa-users:hover{ 
  opacity: 1;
  color: #ff0000;
}

.followus li a .fa-dribbble:hover { 
  opacity: 1;
  color: #ee2748;
}

.archive ul li {
  padding: 10px 0;
  border-top: 1px dotted #c0d4c0;
  display: block;
}

.contact ul li { padding: 10px 0; }

.contact ul li a .fa {
  font-size: 25px;
  margin-right: 13px;
  opacity: .2;
}

.contact ul li a:hover .fa-envelope-o,
.contact ul li a:hover .fa-mobile { 
  opacity: 1;
  color: #ff0000;
}

.contact ul li a:hover .fa-phone { 
  opacity: 1;
  color: #86af1d;
}

form { text-align: end; }

form input[type="text"],
form input[type="email"] {
  width: 94%;
  padding: 11px 10px;
  outline: none;
  border: none;
  margin: 5px 0;
  font-style: italic;
  background-color: #F9F9F9;
  border-bottom: 1px solid #d4d1d1;
}

form input[type="text"]:focus,
form input[type="email"]:focus { border: 1px solid #3c3838; }

form input[type="submit"] {
  padding: 11px 15px;
  outline: none;
  border: none;
  margin: 5px 0;
  color: #fff;
  background-color: #A0C63F;
}

form input[type="submit"]:hover { box-shadow: 0 0 15px rgba(0,0,0,.5) }

.footer-down {
  margin-top: 5px;
  padding: 4px 0;
  background-color: #202020;
}

.footer-down .wrapper { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #efefef;
}

.footer-down .wrapper ul { 
  flex-basis: 25%;
  display: flex;
  justify-content: space-between;
}

.footer-down .wrapper li a {
  color: #efefef;
  font-size: 13px;
}

.footer-down .wrapper li a:hover { color: #A0C63F; }

.footer-down .wrapper p { 
  font-size: 11px;
  font-weight: 600;
 }
/*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/

@media only screen and (max-width: 1200px) {

.hamburger { 
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 5%;
  right: 5%;
}

.hamburger span {
  width: 30px;
  border-top: 4px solid #A0C63F;
  text-indent: -99999px;
  float: left;
  height: 0;
  margin-bottom: 6px;
}

.hamburger:hover .bar1{ transform: rotate(45deg) translateX(7px); }
.hamburger:hover .bar2{ display: none; }
.hamburger:hover .bar3{ transform: rotate(-45deg) translateX(7px); }

.hamburger:hover ~ .menu { display: flex; }
.menu {
  display: none;
  flex-direction: column;
  width: 50%;
  position: absolute;
  top: 74px;
  right: 26px;
  z-index: 2;
  background-color: tan;
  text-align: center;
}

.menu .menu-item { padding: 20px 0; }

.menu .menu-item:hover { border-bottom: 1px solid #86af1d; }
.menu .menu-item a { font-size: 17px; }

/* welcome section start */
.welcome .wrapper { 
  text-align: center;
  color: #3c3838;
}

.welcome .wrapper ul { flex-direction: column; }

.welcome .wrapper ul li{ 
  margin: 10px 0;
  padding: 10px 0;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
 }

/* welcome section ends */

.card-group { flex-direction: column; }
.card {
  padding: 20px 0;
  margin: 10px 0;
  flex-direction: column; 
  text-align: center; 
}

.card h5 { margin: 10px 0; }

.portfolio .wrapper h4 { top: 0; }
/* welcome section ends */

/* Advertiser section start */
.advertise .wrapper h4 { top: 0; }

.advlist { flex-direction: column; text-align: center; }

.advlist img { width: 40%; }
/* Advertiser section end */

.footer-list { flex-direction: column; }

.footer-down .wrapper { flex-wrap: wrap; }

}  
